.site-footer {
    text-align: center;
}

.footer-header {
    padding: 3em 0em;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
    width: 69%;
    padding-bottom: 3em;
}

.footer-copyright {
    background-color: #2C333C;
    color: #fff;
    padding: 1em;
}